 .App {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Playfair Display', serif;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

 .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Playfair Display', serif;
} 


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

.todo-completed {
  text-decoration: line-through;
  color: gray;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  color: white;
  font-family: 'Playfair Display', serif;
}

td, th {
  border: 1px solid #3f51b5;;
  text-align: left;
  padding: 8px;
}

.present-true {
  display: none;
}
.MuiInputBase-input.MuiInput-input {
  color: white;
  margin: 1.1rem;
  
}
.MuiButton-sizeSmall {
  font-family: 'Playfair Display', serif;
}
.MuiButton-label {
  color:white;
}
.MuiGrid-root.MuiGrid-item {
  margin: 1.1rem;
  font-family: 'Playfair Display', serif;
}
.MuiInputBase-root {
  font-family: 'Playfair Display', serif;
}
form {
  margin-top: 1.1rem;
  font-family: 'Playfair Display', serif;
}